@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;
    
    --header: 203 63% 29%;
    --header-foreground: 0 0% 100%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;

    --primary: 203 63% 29%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 33% 97%;
    --secondary-foreground: 203 63% 29%;

    --muted: 210 33% 97%;
    --muted-foreground: 215 16% 47%;

    --accent: 28 100% 47%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 93%;
    --input: 0 0% 93%;
    --ring: 203 63% 29%;

    --radius: 0.375rem;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 100%;
    
    --header: 203 63% 29%;
    --header-foreground: 0 0% 100%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 100%;

    --primary: 203 63% 29%;
    --primary-foreground: 0 0% 100%;

    --secondary: 217 33% 18%;
    --secondary-foreground: 0 0% 100%;

    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;

    --accent: 28 100% 47%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 212 27% 84%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
